/* img{
    max-height: 60px !important;
} */
 .theme-demos .demo-button-wrapper{
display: none !important;
 }

 /* .card-box{
    height: 505px !important;
    overflow: hidden;
 } */


 /* .more-text {
    display: none;
} */

.more-text {
    display: none;
}
body{
    color: #000;
}

.account-box1 {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  opacity: .9;
}

.account-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  width: 100%;
  max-width: 800px;
  opacity: .9;
  margin-right: auto;
  margin-left: auto;
}

.read-more-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.read-more-btn:hover {
    background-color: #0056b3;
}
@media screen and (min-width: 768px) {
    .margin-left{
        margin-left: 10%;
    }
    
}
@media screen and (max-width: 769px) {
    .sm-wrap{
        flex-wrap: wrap !important;
    }
    .sm-col{
        flex-direction: column !important;
    }
    .text-sm-center_2{
        text-align: center;
    }
   
}

.mfp-content, .mfp-container{
    display: none !important;
}
ol li{
    color: #0056b3;
    font-weight: 700;
    padding: 3px 6px;
    border: 1px solid #0056b3;
    border-radius: 5px;
    margin: 5px 10px;
    transition: .4s cubic-bezier(.12, 0, .39, 0);

}
 ol li:hover{
    background-color: #0056b3;
    color: white;
    transform: scale(1.1);
}
ol{
    list-style: none !important;
    display: flex !important;
    flex-wrap: wrap !important;
}
.bg-blue{
    background-color: #0056b3;
}
.img-responsive{    
    width: 100px !important;
}
.small-head{
    font-size: 25px;
}
.categories-text{
    font-size: 20px;
    font-weight: 800;
}
.listing li{
    list-style: circle !important;
}
/* .blog-image{
    text-align: center !important;
} */
.text-gray{
    color: gray;
}
.swiper-slide p{
    font-size: 18px;
    height: 100%;
}
.listing ul li{
    font-size: 16px;
    color: #000;
    list-style-type: square !important;
    transition: all 0.3s ease-out;
}
.listing ul li:hover{
    font-size: 18px;
    color: #1562c6;

}

h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;
}
.section-head h4 {
position: relative;
padding:0;
color:#4d6de2;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #4d6de2;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #4d6de2;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:#f91942;
}
.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#4d6de2;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #f91942;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one{
background:rgba(247, 198, 5, 0.20);
color:#4d6de2;
}
.item .feature_box_col_two{
background:rgba(255, 77, 28, 0.15);
color:#4d6de2;
}

.item .feature_box_col_three{
background:rgba(0, 147, 38, 0.15);
color:#4d6de2
}
.item .feature_box_col_four{
background:rgba(0, 108, 255, 0.15);
color:#4d6de2
}
.item .feature_box_col_five{
background:rgba(146, 39, 255, 0.15);
color:#4d6de2
}
.item .feature_box_col_six{
background:rgba(23, 39, 246, 0.15);
color:#4d6de2;
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}
.mission p {
margin-bottom: 10px;
font-size: 15px;
line-height: 28px;
font-weight: 500;
}
.mission i {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
background: #f91942;
border-radius: 50%;
color: #fff;
font-size: 25px;
}
.mission .small-text {
margin-left: 10px;
font-size: 13px;
color: #666;
}
.skills {
padding-top:0px;
}
.skills .prog-item {
margin-bottom: 25px;
}
.skills .prog-item:last-child {
margin-bottom: 0;
}
.skills .prog-item p {
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
width: 100%;
height: 10px;
background: #e0e0e0;
border-radius:20px;
position: relative;
}
.skills .prog-item .skills-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #f91942;
width: 10%;
border-radius: 10px;
-webkit-transition: all 1s;
transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
content: attr(data-value);
position: absolute;
top: -5px;
right: 0;
font-size: 10px;
font-weight:600;    
color: #fff;
background:rgba(0, 0, 0, 0.9);
padding: 3px 7px;
border-radius: 30px;
}

.boxes{
    border: 0.1px solid rgba(0, 0, 0, 0.9);
    padding: 8px 12px;
    border-radius: 12px;
    margin: 8px 0;
    transition: all 0.3s ease-in;
   
}
.boxes h6{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px !important;
    transition: all 0.4s ease-in;
  
} 
.boxes:hover{
    -webkit-box-shadow: -5px 4px 102px -10px rgba(48,89,209,1);
    -moz-box-shadow: -5px 4px 102px -10px rgba(48,89,209,1);
    box-shadow: -5px 4px 102px -10px rgba(48,89,209,1);
}
 

/* join panel design starts from here */





*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

.form {
  background:rgb(190, 190, 201);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius: 14px;

}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.tab-content > div:last-child {
  display:none;
}






label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:white;
}

input, textarea {
  font-size:18px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:white;
  background-image:none;
  border-radius: 8px !important;
  border:1px solid gray;
 
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:black;
  }
}

textarea {
  border:2px solid gray;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:10px;
}


.top-row {
  flex-direction: column;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}
.my-4{
  font-weight: 600;
}

.button {
    border: 0;
    outline: none;
    border-radius: 10px;
    padding: 4px 0;
    font-size: 1.5rem;
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: .1em;
    /* background: blue; */
    /* color: white; */
    transition: all .5s ease;
  
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}
.iti{
  width:100%;
}
input.radio{
  display: inline !important;
  width: 4% !important;
  
}
.align-items-baseline{
  align-items: baseline;
}
label{
  font-weight: 600;
}
select option {
  padding: 10px;
  word-wrap: break-word;
}

/* Optional: Improve appearance on mobile devices */
@media (max-width: 600px) {
  select {
      font-size: 14px;
  }

  select option {
      font-size: 14px;
  }
}


.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .popup.active {
        display: block;
    }

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

    .popup-overlay.active {
        display: block;
    }